.wpcf7 p {
  font-size: large;
  color: black; }
.wpcf7 .modal-body {
  background-color: white; }
  .wpcf7 .modal-body .row {
    padding: 0; }
    .wpcf7 .modal-body .row .col {
      padding: 0; }

.wpcf7-form .wpcf7-response-output.wpcf7-validation-errors {
  color: #D8000C;
  background-color: #FFBABA;
  border: 0;
  padding: 10px; }

.wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok {
  color: #4F8A10;
  background-color: #DFF2BF;
  border: 0;
  padding: 10px; }

.contact-form-header .modal-title {
  text-shadow: 2px 2px  white; }

.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7 textarea {
  background: #fff;
  border: 1px solid #bbb;
  color: #4F4F4F;
  width: 90%; }

.contact-form-footer .btn-contact-form {
  font-size: medium;
  color: white;
  text-shadow: 1px 1px black; }

/*# sourceMappingURL=contactform.css.map */
