/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  h1 {
    font-size: 1.5rem; }

  /*1rem = 16px*/ }
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  h1 {
    font-size: 2rem; }

  /*1rem = 16px*/ }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-size: 2.5rem; }

  /*1rem = 16px*/ }
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1 {
    font-size: 3rem; }

  /*1rem = 16px*/ }

/*# sourceMappingURL=fontsizes.css.map */
