@font-face {
    font-family: "Sugarpunch";
    src: url('assets/fonts/sugarpunch/sugarpunch-webfont.woff2') format('woff2'),
        url('assets/fonts/sugarpunch/sugarpunch-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "Sugarpunch Shadow";
    src: url('assets/fonts/sugarpunch/sugarpunchshadow-webfont.woff2') format('woff2'),
        url('assets/fonts/sugarpunch/sugarpunchshadow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Josefin Sans";
    src: url("assets/fonts/josefine/JosefinSans-VariableFont_wght.ttf") format("truetype");
}
