@font-face {
  font-family: "Sugarpunch";
  src: url("assets/fonts/sugarpunch/sugarpunch-webfont.woff2") format("woff2"), url("assets/fonts/sugarpunch/sugarpunch-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Sugarpunch Shadow";
  src: url("assets/fonts/sugarpunch/sugarpunchshadow-webfont.woff2") format("woff2"), url("assets/fonts/sugarpunch/sugarpunchshadow-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Josefin Sans";
  src: url("assets/fonts/josefine/JosefinSans-VariableFont_wght.ttf") format("truetype"); }
.theme-footer-container {
  display: flex;
  flex-direction: column;
  background-color: #EDEDED;
  align-items: center;
  justify-content: center;
  width: 100%; }

.theme-footer {
  background-color: #222222;
  height: 75px;
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  justify-content: center; }

.theme-footer-content {
  box-sizing: border-box;
  background-color: #222222;
  color: #FBFBFF;
  font-size: 22px;
  font-family: "Sugarpunch", sarif;
  width: auto; }

/*# sourceMappingURL=footer.css.map */
