@import 'vars';
@import 'fonts';

$footer-font: 'Sugarpunch', sarif;

.theme-footer-container {
  display: flex;
  flex-direction: column;
  background-color: $primary-shade;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.theme-footer {
  background-color: $secondary-color;
  height: 75px;
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.theme-footer-content {
  box-sizing: border-box;
  background-color: $secondary-color;
  color: $primary-color;
  font-size: 22px;
  font-family: $footer-font;
  width: auto;
}
