@font-face {
  font-family: "Sugarpunch";
  src: url("assets/fonts/sugarpunch/sugarpunch-webfont.woff2") format("woff2"), url("assets/fonts/sugarpunch/sugarpunch-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Sugarpunch Shadow";
  src: url("assets/fonts/sugarpunch/sugarpunchshadow-webfont.woff2") format("woff2"), url("assets/fonts/sugarpunch/sugarpunchshadow-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Josefin Sans";
  src: url("assets/fonts/josefine/JosefinSans-VariableFont_wght.ttf") format("truetype"); }
/*
Use this mixin to determine the number of cards in a row.
"$width" value sets the width of a card in a row. 
"$grow" value defines if the cards in an unfilled row would grow to fit the available space or not.
*/
.games-cards-container {
  align-self: center;
  justify-content: center;
  padding: auto;
  padding-bottom: 100px;
  width: 100%;
  max-width: 1200px;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .games-cards-container .card-container {
    margin-right: 50px;
    margin-left: 50px; }
  .games-cards-container .card-container {
    width: 300px; }

.card-container {
  margin-top: 100px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #222222;
  background-size: cover; }

.card-header {
  border-radius: 0 !important;
  z-index: 3;
  width: 100%;
  height: 15%;
  background-color: #E26E21;
  flex-direction: column;
  justify-items: center;
  align-items: center; }
  .card-header h3 {
    line-height: 1.5 !important;
    display: block;
    font-family: "Sugarpunch", fantasy;
    font-size: 28px;
    color: #FBFBFF;
    text-align: center; }

.card-body {
  width: 100%;
  height: 70%;
  display: flex;
  z-index: 1;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-color: rgba(34, 34, 34, 0);
  transition-property: background-color;
  transition-delay: 0.3s;
  transition-duration: 0.4s;
  transition-timing-function: ease-in; }
  .card-body .card-description {
    z-index: 6;
    overflow: hidden;
    height: auto;
    width: inherit;
    flex-grow: 1;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    color: #FBFBFF; }
  .card-body .card-description:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 2.8em;
    background: linear-gradient(to right, rgba(34, 34, 34, 0), #222222 50%); }

.card-body:hover {
  background-color: #222222;
  transition: 0.2s ease-in; }
  .card-body:hover .card-description {
    display: block;
    opacity: 1;
    transition-property: opacity 0.2s ease-in;
    transition-delay: 300ms; }

.card-footer {
  border-radius: 0 !important;
  z-index: 3;
  width: 100%;
  height: 15%;
  display: flex;
  background-color: #E26E21;
  flex-direction: column;
  justify-items: center;
  align-items: center; }
  .card-footer a {
    margin-top: -3px;
    display: block;
    font-family: "Sugarpunch", fantasy;
    font-size: 28px;
    color: #FBFBFF;
    text-decoration: underline; }
  .card-footer a:hover {
    margin-top: 0px;
    color: #EDEDED;
    padding-top: 0px; }

.games-cards-load-more-button {
  align-self: center;
  border: none;
  background-color: #E26E21;
  color: #FBFBFF;
  margin-top: 10px;
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  font-family: "Sugarpunch", fantasy;
  font-size: 52px;
  margin-bottom: 20px;
  cursor: pointer; }
  .games-cards-load-more-button span {
    display: block; }

.games-cards-load-more-button:hover {
  background-color: #222222; }

.games-cards-load-more-button .loaded {
  display: none; }

.games-wrapper #load-more-games:checked ~ .games-cards-load-more-button .loaded {
  display: flex; }

.games-wrapper #load-more-games:checked ~ .games-cards-load-more-button .unloaded {
  display: none; }

#load-more-games {
  display: none; }

/* Extra Extra large devices (Up to 4k) */
@media (max-width: 4000px) {
  .games-cards-container .card-container {
    margin-right: 50px;
    margin-left: 50px; }
  .games-cards-container .card-container {
    width: 300px; }

  .games-wrapper #load-more-games:checked ~ .card-container:nth-child(1n + 4) {
    max-height: 400px;
    opacity: 1;
    transition: 0.2s ease-in; }

  .games-wrapper .games-cards-container .card-container:nth-child(1n+ 4) {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transition: 0.1s ease-in; }

  .games-wrapper #load-more-games:checked ~ .games-cards-container .card-container:nth-child(1n+ 4) {
    margin-top: 100px;
    max-height: 400px;
    opacity: 1;
    transition: 0.2s ease-in; }

  .games-cards-load-more-button {
    display: none; } }
/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .games-cards-container .card-container {
    margin-right: 84.9710982659px;
    margin-left: 84.9710982659px; }
  .games-cards-container .card-container {
    width: 300px; }

  .games-wrapper #load-more-games:checked ~ .card-container:nth-child(1n + 3) {
    max-height: 400px;
    opacity: 1;
    transition: 0.2s ease-in; }

  .games-wrapper .games-cards-container .card-container:nth-child(1n+ 3) {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transition: 0.1s ease-in; }

  .games-wrapper #load-more-games:checked ~ .games-cards-container .card-container:nth-child(1n+ 3) {
    margin-top: 100px;
    max-height: 400px;
    opacity: 1;
    transition: 0.2s ease-in; }

  .games-cards-load-more-button {
    display: flex; } }
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .games-cards-container .card-container {
    margin-right: 50px;
    margin-left: 50px; }
  .games-cards-container .card-container {
    width: 300px; }

  .games-wrapper #load-more-games:checked ~ .card-container:nth-child(1n + 3) {
    max-height: 400px;
    opacity: 1;
    transition: 0.2s ease-in; }

  .games-wrapper .games-cards-container .card-container:nth-child(1n+3) {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transition: 0.1s ease-in; }

  .games-wrapper #load-more-games:checked ~ .games-cards-container .card-container:nth-child(1n+3) {
    margin-top: 100px;
    max-height: 400px;
    opacity: 1;
    transition: 0.2s ease-in; } }
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  .games-cards-container .card-container {
    margin-right: 50px;
    margin-left: 50px; }
  .games-cards-container .card-container {
    width: 300px; }

  .games-wrapper #load-more-games:checked ~ .card-container:nth-child(1n+3) {
    max-height: 400px;
    opacity: 1;
    transition: 0.2s ease-in; }

  .games-wrapper .games-cards-container .card-container:nth-child(1n+3) {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transition: 0.1s ease-in; }

  .games-wrapper #load-more-games:checked ~ .games-cards-container .card-container:nth-child(1n+3) {
    margin-top: 100px;
    max-height: 400px;
    opacity: 1;
    transition: 0.2s ease-in; } }
@media (max-width: 481px) {
  .games-cards-container .card-container {
    margin-right: 5%;
    margin-left: 5%; }

  .games-wrapper #load-more-games:checked ~ .card-container:nth-child(1n+2) {
    max-height: 400px;
    opacity: 1;
    transition: 0.2s ease-in; }

  .games-wrapper .games-cards-container .card-container:nth-child(1n+2) {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transition: 0.1s ease-in; }

  .games-wrapper #load-more-games:checked ~ .games-cards-container .card-container:nth-child(1n+2) {
    margin-top: 100px;
    max-height: 400px;
    opacity: 1;
    transition: 0.2s ease-in; } }

/*# sourceMappingURL=gamecard.css.map */
