@import 'vars';
@import 'fonts';

@function calc-cards($parent, $element) {
    $result: 0;
    $result: ($parent - ($parent % $element)) / $element;
    @if ($parent/$element >= $result + 0.5) {
        $result: $result+1
    }

    @return $result
}


$fonts-main: 'Josefin Sans', sans-serif; 
$header-font: 'Sugarpunch', fantasy; 
$header-font-alt: 'Sugarpunch Shadow', fantasy; 

//Width of a card, px. Set to change the with of cards.
$card-width: 300;

//Max width of the container. 
$card-holder-width: 1200;

//init vars
//Card horizontal margin init
$card-margin: 0;
//Card counter, init
$card-count: 0;


/*
Use this mixin to determine the number of cards in a row.
"$width" value sets the width of a card in a row. 
"$grow" value defines if the cards in an unfilled row would grow to fit the available space or not.
*/

@mixin calculate-cards($parentWidth, $width, $grow: true){
    $card-count: 0;
    @if ($parentWidth % $width >= 0) {
        @if (($parentWidth % $width) > ($width/2)){
            $card-count: $parentWidth/$width;
            $card-margin: ($parentWidth % $width)/($card-count*2);
            .card-container{
                margin-right: #{$card-margin+px};
                margin-left: #{$card-margin+px};
            }
        } @else {
            $card-count: $parentWidth/$width - 1;
            $card-margin: (($parentWidth % $width) + $width)/($card-count*2);
            .card-container{
                margin-right: #{$card-margin+px};
                margin-left: #{$card-margin+px};
            }
        }
    }

    @if($grow){
        .card-container{
            min-width: #{$card-width+px};
            flex-grow: 1;
        }
    } @else {
        .card-container{
            width: #{$card-width+px};
        }
    }
}

.games-cards-container{
    align-self: center;
    justify-content: center;
    padding: auto;
    padding-bottom: 100px;
    width: 100%;
    max-width: #{$card-holder-width+px};
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include calculate-cards($card-holder-width, $card-width, $grow:false)
    
}


.card-container{
    margin-top: 100px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: rgba($secondary-color, 1);
    background-size: cover;
}

.card-header{
    border-radius: 0 !important;
    z-index: 3;
    width: 100%;
    height: 15%;
    background-color: $accent-color;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    h3{
        line-height: 1.5 !important;
        display: block;
        font-family: $header-font;
        font-size: 28px;
        color: $primary-color;
        text-align: center;
    }
}

.card-body{
    width: 100%;
    height: 70%;
    display: flex;
    z-index: 1;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-color: rgba($secondary-color, 0);
    transition-property: background-color;
    transition-delay: 0.3s;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;

    .card-description{
        z-index: 6;
        overflow: hidden;
        height: auto;
        width: inherit;
        flex-grow: 1;
        //display: none;
        opacity: 0;
        transition: opacity 0.2s ease-out;
        font-family: $fonts-main;
        font-size: 18px;
        color: $primary-color;
    }


    .card-description:after{
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 80%;
        height: 2.8em;
        background: linear-gradient(to right, rgba($secondary-color, 0), $secondary-color 50%);
    }

}

.card-body:hover{
    background-color: rgba($secondary-color, 1);
    transition: 0.2s ease-in;
    .card-description {
        display: block;
        opacity: 1;
        transition-property: opacity 0.2s ease-in;
        transition-delay: 300ms;
    
    }
}

.card-footer{
    border-radius: 0 !important;
    z-index: 3;
    width: 100%;
    height: 15%;
    display: flex;
    background-color: $accent-color;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    a{
        margin-top: -3px;
        display: block;
        font-family: $header-font;
        font-size: 28px;
        color: $primary-color;
        text-decoration: underline;
    }
    a:hover{
        margin-top: 0px;
        color: $primary-shade;
        padding-top: 0px;
    }
}


//Show More button. Set 'display:none' and 'display:block' at appropriate media queries  if the ammount of cards at desired screen 
//width in a row is less or equal to total ammount of cards 
.games-cards-load-more-button{
    align-self: center;
    border: none;
    background-color: $accent-color;
    color: $primary-color;
    margin-top: 10px;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    font-family: $header-font;
    font-size: 52px;
    margin-bottom: 20px;
    cursor: pointer;
    span{
        display: block;
    }
}

.games-cards-load-more-button:hover{
    background-color: $secondary-color;
}

.games-cards-load-more-button .loaded {
    display: none;
}

.games-wrapper #load-more-games:checked ~ .games-cards-load-more-button .loaded{
    display: flex;
}

.games-wrapper #load-more-games:checked ~ .games-cards-load-more-button .unloaded{
    display: none;
}


#load-more-games{
    display: none
}

/* Extra Extra large devices (Up to 4k) */

@media (max-width: 4000px) {  
    $card-holder-width: 1200;

    .games-cards-container{
        @include calculate-cards($card-holder-width, $card-width, $grow:false)
    }

    .games-wrapper #load-more-games:checked ~ .card-container:nth-child(1n + #{calc-cards($card-holder-width, $card-width)} ){
        max-height: 400px;
        opacity: 1;
        transition: 0.2s ease-in;
    }
    
    .games-wrapper .games-cards-container .card-container:nth-child(1n+ #{calc-cards($card-holder-width, $card-width)} ){
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        transition: 0.1s ease-in;
    }
    
    .games-wrapper #load-more-games:checked ~ .games-cards-container .card-container:nth-child(1n+ #{calc-cards($card-holder-width, $card-width)} ){
        margin-top: 100px;
        max-height: 400px;
        opacity: 1;
        transition: 0.2s ease-in;
    }

    .games-cards-load-more-button{
        display: none;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1200px) {  


    $card-holder-width: 992;
    .games-cards-container{
        @include calculate-cards($card-holder-width, $card-width, $grow:false)
    }

    .games-wrapper #load-more-games:checked ~ .card-container:nth-child(1n + #{calc-cards($card-holder-width, $card-width)} ){
        max-height: 400px;
        opacity: 1;
        transition: 0.2s ease-in;
    }
    
    .games-wrapper .games-cards-container .card-container:nth-child(1n+ #{calc-cards($card-holder-width, $card-width)} ){
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        transition: 0.1s ease-in;
    }
    
    .games-wrapper #load-more-games:checked ~ .games-cards-container .card-container:nth-child(1n+ #{calc-cards($card-holder-width, $card-width)} ){
        margin-top: 100px;
        max-height: 400px;
        opacity: 1;
        transition: 0.2s ease-in;
    }

    .games-cards-load-more-button{
        display: flex;
    }
}


/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    .games-cards-container{
        @include calculate-cards($card-holder-width, $card-width, $grow:false)
    }

    $card-holder-width: 992;

    .games-wrapper #load-more-games:checked ~ .card-container:nth-child(1n + #{calc-cards($card-holder-width, $card-width)} ){
        max-height: 400px;
        opacity: 1;
        transition: 0.2s ease-in;
    }
    
    .games-wrapper .games-cards-container .card-container:nth-child(1n+#{calc-cards($card-holder-width, $card-width)}){
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        transition: 0.1s ease-in;
    }
    
    .games-wrapper #load-more-games:checked ~ .games-cards-container .card-container:nth-child(1n+#{calc-cards($card-holder-width, $card-width)}){
        margin-top: 100px;
        max-height: 400px;
        opacity: 1;
        transition: 0.2s ease-in;
    }
}
    
    
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) { 
    .games-cards-container{
        @include calculate-cards($card-holder-width, $card-width, $grow:false)
    }
    
    $card-holder-width: 768;

    .games-wrapper #load-more-games:checked ~ .card-container:nth-child(1n+#{calc-cards($card-holder-width, $card-width)}){
        max-height: 400px;
        opacity: 1;
        transition: 0.2s ease-in;
    }
    
    .games-wrapper .games-cards-container .card-container:nth-child(1n+#{calc-cards($card-holder-width, $card-width)}){
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        transition: 0.1s ease-in;
    }
    
    .games-wrapper #load-more-games:checked ~ .games-cards-container .card-container:nth-child(1n+#{calc-cards($card-holder-width, $card-width)}){
        margin-top: 100px;
        max-height: 400px;
        opacity: 1;
        transition: 0.2s ease-in;
    }
}
 
@media (max-width: 481px) {  
    //For mobile screens and small tablets, always show one card, regardless of its size nor their ammount
    $card-holder-width: 481;
    .games-cards-container .card-container{
        margin-right: 5%;
        margin-left: 5%;
    }

    .games-wrapper #load-more-games:checked ~ .card-container:nth-child(1n+2){
        max-height: 400px;
        opacity: 1;
        transition: 0.2s ease-in;
    }
    
    .games-wrapper .games-cards-container .card-container:nth-child(1n+2){
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        transition: 0.1s ease-in;
    }
    
    .games-wrapper #load-more-games:checked ~ .games-cards-container .card-container:nth-child(1n+2){
        margin-top: 100px;
        max-height: 400px;
        opacity: 1;
        transition: 0.2s ease-in;
    }
}




