@font-face {
  font-family: "Sugarpunch";
  src: url("assets/fonts/sugarpunch/sugarpunch-webfont.woff2") format("woff2"), url("assets/fonts/sugarpunch/sugarpunch-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Sugarpunch Shadow";
  src: url("assets/fonts/sugarpunch/sugarpunchshadow-webfont.woff2") format("woff2"), url("assets/fonts/sugarpunch/sugarpunchshadow-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Josefin Sans";
  src: url("assets/fonts/josefine/JosefinSans-VariableFont_wght.ttf") format("truetype"); }
header {
  background-color: #EDEDED;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto; }

.theme-header {
  height: 100px;
  width: 100%;
  max-width: 1600px;
  align-self: center;
  background-color: #222222;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  justify-content: space-between; }

.theme-logo {
  margin-left: 30px;
  align-self: flex-start;
  color: #FBFBFF;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "Sugarpunch", sarif;
  font-size: 62px;
  height: 100%; }
  .theme-logo span {
    user-select: none;
    display: inline;
    align-self: flex-end; }

.nav-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end; }

.nav-buttons {
  padding-right: 20px;
  font-size: 58px;
  background: none;
  display: flex;
  flex-direction: row;
  width: 210px;
  justify-content: flex-start; }
  .nav-buttons a {
    user-select: none;
    font-family: "Sugarpunch", sarif;
    color: #FBFBFF; }
  .nav-buttons a:hover {
    font-size: 50px !important;
    text-decoration: none;
    font-family: "Sugarpunch Shadow", fantasy;
    color: #FBFBFF; }
  .nav-buttons a:active {
    text-decoration: none;
    font-family: "Sugarpunch Shadow", fantasy;
    color: #FBFBFF;
    top: 10px; }

/* Extra large devices (large desktops, 1200px and up) */
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .nav-buttons {
    font-size: 38px; }
    .nav-buttons a:active {
      font-size: 38px !important; }
    .nav-buttons a:hover {
      font-size: 40px !important; }

  .theme-logo {
    font-size: 42px; } }
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  .nav-buttons {
    font-size: 34px;
    width: 130px; }
    .nav-buttons a:active {
      font-size: 36px !important; }
    .nav-buttons a:hover {
      font-size: 34px; }

  .theme-logo {
    margin-left: 10px;
    font-size: 36px;
    width: 30%; } }
@media (max-width: 481px) {
  .nav-container {
    width: 100%; }

  .nav-buttons {
    font-size: 34px;
    width: auto; }

  .theme-logo {
    display: none; }

  .theme-header {
    align-items: center;
    height: 75px;
    flex-direction: column; } }
@media (max-width: 320px) {
  .nav-buttons {
    font-size: 26px; }
    .nav-buttons a:active {
      font-size: 26px !important; }
    .nav-buttons a:hover {
      font-size: 26px; }

  .theme-header {
    height: 50px; } }

/*# sourceMappingURL=header.css.map */
