.screen-reader-text {
  position: absolute;
  top: -9999em;
  left: -9999em; }

#menu-social {
  font-family: 'Font Awesome 5 Free';
  float: right;
  width: 100%;
  right: 1.5rem;
  bottom: 4.5rem;
  display: flex;
  justify-content: center; }

#menu-social-items {
  padding-inline-start: 0;
  margin-bottom: 0; }

#menu-social ul {
  list-style: none; }

#menu-social a:link {
  text-decoration: none; }

#menu-social a:visited {
  text-decoration: none; }

#menu-social a:hover {
  text-decoration: none; }

#menu-social a:active {
  text-decoration: none; }

#menu-social ul li {
  display: inline-block; }

#menu-social li a:before {
  display: inline-block;
  vertical-align: bottom;
  padding: 0.5rem 0.5rem;
  font-family: 'Font Awesome 5 Free';
  font-size: 2.6rem;
  font-weight: 900;
  -webkit-font-smoothing: antialiased; }

#menu-social li a {
  color: #c7c7c7; }

#menu-social li:hover > a {
  color: #888888; }

#menu-social li a[href*="dribbble.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f17d'; }

#menu-social li a[href*="facebook.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f09a'; }

#menu-social li a[href*="flickr.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f16e'; }

#menu-social li a[href*="foursquare.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f180'; }

#menu-social li a[href*="github.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f09b'; }

#menu-social li a[href*="plus.google.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f0d5'; }

#menu-social li a[href*="instagram.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f16d'; }

#menu-social li a[href*="jsfiddle.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f1cc'; }

#menu-social li a[href*="linkedin.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f0e1'; }

#menu-social li a[href*="pinterest.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f0d2'; }

#menu-social li a[href*="reddit.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f1a1'; }

#menu-social li a[href*="soundcloud.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f1be'; }

#menu-social li a[href*="stackoverflow.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f16c'; }

#menu-social li a[href*="tumblr.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f173'; }

#menu-social li a[href*="twitter.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f099'; }

#menu-social li a[href*="vimeo.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f194'; }

#menu-social li a[href*="vine.co"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f1ca'; }

#menu-social li a[href*="yelp.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f1e9'; }

#menu-social li a[href*="youtube.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f167'; }

#menu-social li a[href*="wordpress.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f19a'; }

#menu-social li a[href*="wordpress.org"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f19a'; }

/*# sourceMappingURL=socialmenu.css.map */
