
//colours
$accent-color: #E26E21;
$accent-light: #ee9038;
$accent-shadow: #c05d1b;
$secondary-color: #222222;
$secondary-shade: #616161;
$primary-option: #EDE7D9;
$primary-color: #FBFBFF;
$primary-shade: #EDEDED;
$success-color: #d4edda;
$success-shade: #c3e6cb;
$success-text: #155724;