/**

Theme Name: Partagames Theme
Author: Ilia@Fusetwin
Version: 0.9-rc7.1

Theme Description: Theme for Partagames website. 

*/
.screen-reader-text {
  position: absolute;
  top: -9999em;
  left: -9999em; }

#menu-social {
  font-family: 'Font Awesome 5 Free';
  float: right;
  width: 100%;
  right: 1.5rem;
  bottom: 4.5rem;
  display: flex;
  justify-content: center; }

#menu-social-items {
  padding-inline-start: 0;
  margin-bottom: 0; }

#menu-social ul {
  list-style: none; }

#menu-social a:link {
  text-decoration: none; }

#menu-social a:visited {
  text-decoration: none; }

#menu-social a:hover {
  text-decoration: none; }

#menu-social a:active {
  text-decoration: none; }

#menu-social ul li {
  display: inline-block; }

#menu-social li a:before {
  display: inline-block;
  vertical-align: bottom;
  padding: 0.5rem 0.5rem;
  font-family: 'Font Awesome 5 Free';
  font-size: 2.6rem;
  font-weight: 900;
  -webkit-font-smoothing: antialiased; }

#menu-social li a {
  color: #c7c7c7; }

#menu-social li:hover > a {
  color: #888888; }

#menu-social li a[href*="dribbble.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f17d'; }

#menu-social li a[href*="facebook.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f09a'; }

#menu-social li a[href*="flickr.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f16e'; }

#menu-social li a[href*="foursquare.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f180'; }

#menu-social li a[href*="github.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f09b'; }

#menu-social li a[href*="plus.google.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f0d5'; }

#menu-social li a[href*="instagram.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f16d'; }

#menu-social li a[href*="jsfiddle.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f1cc'; }

#menu-social li a[href*="linkedin.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f0e1'; }

#menu-social li a[href*="pinterest.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f0d2'; }

#menu-social li a[href*="reddit.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f1a1'; }

#menu-social li a[href*="soundcloud.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f1be'; }

#menu-social li a[href*="stackoverflow.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f16c'; }

#menu-social li a[href*="tumblr.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f173'; }

#menu-social li a[href*="twitter.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f099'; }

#menu-social li a[href*="vimeo.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f194'; }

#menu-social li a[href*="vine.co"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f1ca'; }

#menu-social li a[href*="yelp.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f1e9'; }

#menu-social li a[href*="youtube.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f167'; }

#menu-social li a[href*="wordpress.com"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f19a'; }

#menu-social li a[href*="wordpress.org"]::before {
  font-family: "Font Awesome 5 Brands";
  content: '\f19a'; }

@font-face {
  font-family: "Sugarpunch";
  src: url("assets/fonts/sugarpunch/sugarpunch-webfont.woff2") format("woff2"), url("assets/fonts/sugarpunch/sugarpunch-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Sugarpunch Shadow";
  src: url("assets/fonts/sugarpunch/sugarpunchshadow-webfont.woff2") format("woff2"), url("assets/fonts/sugarpunch/sugarpunchshadow-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Josefin Sans";
  src: url("assets/fonts/josefine/JosefinSans-VariableFont_wght.ttf") format("truetype"); }
@font-face {
  font-family: "Sugarpunch";
  src: url("assets/fonts/sugarpunch/sugarpunch-webfont.woff2") format("woff2"), url("assets/fonts/sugarpunch/sugarpunch-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Sugarpunch Shadow";
  src: url("assets/fonts/sugarpunch/sugarpunchshadow-webfont.woff2") format("woff2"), url("assets/fonts/sugarpunch/sugarpunchshadow-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Josefin Sans";
  src: url("assets/fonts/josefine/JosefinSans-VariableFont_wght.ttf") format("truetype"); }
header {
  background-color: #EDEDED;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto; }

.theme-header {
  height: 100px;
  width: 100%;
  max-width: 1600px;
  align-self: center;
  background-color: #222222;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  justify-content: space-between; }

.theme-logo {
  margin-left: 30px;
  align-self: flex-start;
  color: #FBFBFF;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "Sugarpunch", sarif;
  font-size: 62px;
  height: 100%; }
  .theme-logo span {
    user-select: none;
    display: inline;
    align-self: flex-end; }

.nav-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end; }

.nav-buttons {
  padding-right: 20px;
  font-size: 58px;
  background: none;
  display: flex;
  flex-direction: row;
  width: 210px;
  justify-content: flex-start; }
  .nav-buttons a {
    user-select: none;
    font-family: "Sugarpunch", sarif;
    color: #FBFBFF; }
  .nav-buttons a:hover {
    font-size: 50px !important;
    text-decoration: none;
    font-family: "Sugarpunch Shadow", fantasy;
    color: #FBFBFF; }
  .nav-buttons a:active {
    text-decoration: none;
    font-family: "Sugarpunch Shadow", fantasy;
    color: #FBFBFF;
    top: 10px; }

/* Extra large devices (large desktops, 1200px and up) */
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .nav-buttons {
    font-size: 38px; }
    .nav-buttons a:active {
      font-size: 38px !important; }
    .nav-buttons a:hover {
      font-size: 40px !important; }

  .theme-logo {
    font-size: 42px; } }
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  .nav-buttons {
    font-size: 34px;
    width: 130px; }
    .nav-buttons a:active {
      font-size: 36px !important; }
    .nav-buttons a:hover {
      font-size: 34px; }

  .theme-logo {
    margin-left: 10px;
    font-size: 36px;
    width: 30%; } }
@media (max-width: 481px) {
  .nav-container {
    width: 100%; }

  .nav-buttons {
    font-size: 34px;
    width: auto; }

  .theme-logo {
    display: none; }

  .theme-header {
    align-items: center;
    height: 75px;
    flex-direction: column; } }
@media (max-width: 320px) {
  .nav-buttons {
    font-size: 26px; }
    .nav-buttons a:active {
      font-size: 26px !important; }
    .nav-buttons a:hover {
      font-size: 26px; }

  .theme-header {
    height: 50px; } }
@font-face {
  font-family: "Sugarpunch";
  src: url("assets/fonts/sugarpunch/sugarpunch-webfont.woff2") format("woff2"), url("assets/fonts/sugarpunch/sugarpunch-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Sugarpunch Shadow";
  src: url("assets/fonts/sugarpunch/sugarpunchshadow-webfont.woff2") format("woff2"), url("assets/fonts/sugarpunch/sugarpunchshadow-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Josefin Sans";
  src: url("assets/fonts/josefine/JosefinSans-VariableFont_wght.ttf") format("truetype"); }
/*
Use this mixin to determine the number of cards in a row.
"$width" value sets the width of a card in a row. 
"$grow" value defines if the cards in an unfilled row would grow to fit the available space or not.
*/
.games-cards-container {
  align-self: center;
  justify-content: center;
  padding: auto;
  padding-bottom: 100px;
  width: 100%;
  max-width: 1200px;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .games-cards-container .card-container {
    margin-right: 50px;
    margin-left: 50px; }
  .games-cards-container .card-container {
    width: 300px; }

.card-container {
  margin-top: 100px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #222222;
  background-size: cover; }

.card-header {
  border-radius: 0 !important;
  z-index: 3;
  width: 100%;
  height: 15%;
  background-color: #E26E21;
  flex-direction: column;
  justify-items: center;
  align-items: center; }
  .card-header h3 {
    line-height: 1.5 !important;
    display: block;
    font-family: "Sugarpunch", fantasy;
    font-size: 28px;
    color: #FBFBFF;
    text-align: center; }

.card-body {
  width: 100%;
  height: 70%;
  display: flex;
  z-index: 1;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-color: rgba(34, 34, 34, 0);
  transition-property: background-color;
  transition-delay: 0.3s;
  transition-duration: 0.4s;
  transition-timing-function: ease-in; }
  .card-body .card-description {
    z-index: 6;
    overflow: hidden;
    height: auto;
    width: inherit;
    flex-grow: 1;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    color: #FBFBFF; }
  .card-body .card-description:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 2.8em;
    background: linear-gradient(to right, rgba(34, 34, 34, 0), #222222 50%); }

.card-body:hover {
  background-color: #222222;
  transition: 0.2s ease-in; }
  .card-body:hover .card-description {
    display: block;
    opacity: 1;
    transition-property: opacity 0.2s ease-in;
    transition-delay: 300ms; }

.card-footer {
  border-radius: 0 !important;
  z-index: 3;
  width: 100%;
  height: 15%;
  display: flex;
  background-color: #E26E21;
  flex-direction: column;
  justify-items: center;
  align-items: center; }
  .card-footer a {
    margin-top: -3px;
    display: block;
    font-family: "Sugarpunch", fantasy;
    font-size: 28px;
    color: #FBFBFF;
    text-decoration: underline; }
  .card-footer a:hover {
    margin-top: 0px;
    color: #EDEDED;
    padding-top: 0px; }

.games-cards-load-more-button {
  align-self: center;
  border: none;
  background-color: #E26E21;
  color: #FBFBFF;
  margin-top: 10px;
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  font-family: "Sugarpunch", fantasy;
  font-size: 52px;
  margin-bottom: 20px;
  cursor: pointer; }
  .games-cards-load-more-button span {
    display: block; }

.games-cards-load-more-button:hover {
  background-color: #222222; }

.games-cards-load-more-button .loaded {
  display: none; }

.games-wrapper #load-more-games:checked ~ .games-cards-load-more-button .loaded {
  display: flex; }

.games-wrapper #load-more-games:checked ~ .games-cards-load-more-button .unloaded {
  display: none; }

#load-more-games {
  display: none; }

/* Extra Extra large devices (Up to 4k) */
@media (max-width: 4000px) {
  .games-cards-container .card-container {
    margin-right: 50px;
    margin-left: 50px; }
  .games-cards-container .card-container {
    width: 300px; }

  .games-wrapper #load-more-games:checked ~ .card-container:nth-child(1n + 4) {
    max-height: 400px;
    opacity: 1;
    transition: 0.2s ease-in; }

  .games-wrapper .games-cards-container .card-container:nth-child(1n+ 4) {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transition: 0.1s ease-in; }

  .games-wrapper #load-more-games:checked ~ .games-cards-container .card-container:nth-child(1n+ 4) {
    margin-top: 100px;
    max-height: 400px;
    opacity: 1;
    transition: 0.2s ease-in; }

  .games-cards-load-more-button {
    display: none; } }
/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .games-cards-container .card-container {
    margin-right: 84.9710982659px;
    margin-left: 84.9710982659px; }
  .games-cards-container .card-container {
    width: 300px; }

  .games-wrapper #load-more-games:checked ~ .card-container:nth-child(1n + 3) {
    max-height: 400px;
    opacity: 1;
    transition: 0.2s ease-in; }

  .games-wrapper .games-cards-container .card-container:nth-child(1n+ 3) {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transition: 0.1s ease-in; }

  .games-wrapper #load-more-games:checked ~ .games-cards-container .card-container:nth-child(1n+ 3) {
    margin-top: 100px;
    max-height: 400px;
    opacity: 1;
    transition: 0.2s ease-in; }

  .games-cards-load-more-button {
    display: flex; } }
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .games-cards-container .card-container {
    margin-right: 50px;
    margin-left: 50px; }
  .games-cards-container .card-container {
    width: 300px; }

  .games-wrapper #load-more-games:checked ~ .card-container:nth-child(1n + 3) {
    max-height: 400px;
    opacity: 1;
    transition: 0.2s ease-in; }

  .games-wrapper .games-cards-container .card-container:nth-child(1n+3) {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transition: 0.1s ease-in; }

  .games-wrapper #load-more-games:checked ~ .games-cards-container .card-container:nth-child(1n+3) {
    margin-top: 100px;
    max-height: 400px;
    opacity: 1;
    transition: 0.2s ease-in; } }
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  .games-cards-container .card-container {
    margin-right: 50px;
    margin-left: 50px; }
  .games-cards-container .card-container {
    width: 300px; }

  .games-wrapper #load-more-games:checked ~ .card-container:nth-child(1n+3) {
    max-height: 400px;
    opacity: 1;
    transition: 0.2s ease-in; }

  .games-wrapper .games-cards-container .card-container:nth-child(1n+3) {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transition: 0.1s ease-in; }

  .games-wrapper #load-more-games:checked ~ .games-cards-container .card-container:nth-child(1n+3) {
    margin-top: 100px;
    max-height: 400px;
    opacity: 1;
    transition: 0.2s ease-in; } }
@media (max-width: 481px) {
  .games-cards-container .card-container {
    margin-right: 5%;
    margin-left: 5%; }

  .games-wrapper #load-more-games:checked ~ .card-container:nth-child(1n+2) {
    max-height: 400px;
    opacity: 1;
    transition: 0.2s ease-in; }

  .games-wrapper .games-cards-container .card-container:nth-child(1n+2) {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transition: 0.1s ease-in; }

  .games-wrapper #load-more-games:checked ~ .games-cards-container .card-container:nth-child(1n+2) {
    margin-top: 100px;
    max-height: 400px;
    opacity: 1;
    transition: 0.2s ease-in; } }
@font-face {
  font-family: "Sugarpunch";
  src: url("assets/fonts/sugarpunch/sugarpunch-webfont.woff2") format("woff2"), url("assets/fonts/sugarpunch/sugarpunch-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Sugarpunch Shadow";
  src: url("assets/fonts/sugarpunch/sugarpunchshadow-webfont.woff2") format("woff2"), url("assets/fonts/sugarpunch/sugarpunchshadow-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Josefin Sans";
  src: url("assets/fonts/josefine/JosefinSans-VariableFont_wght.ttf") format("truetype"); }
.theme-footer-container {
  display: flex;
  flex-direction: column;
  background-color: #EDEDED;
  align-items: center;
  justify-content: center;
  width: 100%; }

.theme-footer {
  background-color: #222222;
  height: 75px;
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  justify-content: center; }

.theme-footer-content {
  box-sizing: border-box;
  background-color: #222222;
  color: #FBFBFF;
  font-size: 22px;
  font-family: "Sugarpunch", sarif;
  width: auto; }

*,
*::before,
*::after {
  box-sizing: border-box; }

*, *:focus, *:hover {
  outline: none; }

body {
  background-color: #EDEDED; }

.debug {
  border: 1px solid red; }

.page-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EDEDED; }

.page-content {
  width: 100%;
  max-width: 1600px;
  align-self: center;
  -webkit-box-shadow: 0px 0px 25px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 25px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px -9px rgba(0, 0, 0, 0.75); }

.about-wrapper {
  min-height: 920px;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white; }

.about-title-container {
  padding-top: 20px;
  height: fit-content;
  width: auto;
  display: flex;
  flex-direction: column; }

.about-content {
  align-self: center;
  width: 60%;
  min-height: 920px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .about-content h1 {
    display: inline-block;
    font-family: 'Sugarpunch';
    font-size: 100px;
    color: #222222; }
  .about-content span {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Josefin Sans';
    font-size: 24px;
    color: #222222; }

.about-text-container {
  flex-grow: 4;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px; }

.about-logo {
  width: 400px;
  height: 200px;
  background: url("./assets/images/parta_logo_800x374.png");
  background-size: cover; }

.contact-button {
  margin-top: auto;
  margin-bottom: 25px;
  justify-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 300px;
  height: 100px;
  background-color: #E26E21; }
  .contact-button a {
    text-decoration: none;
    user-select: none;
    margin-top: 5px;
    align-self: center;
    color: #FBFBFF;
    font-family: 'Sugarpunch';
    font-size: 52px;
    text-align: center; }
  .contact-button a:hover {
    text-decoration: none; }

.contact-button:hover {
  cursor: pointer;
  border: none;
  background-color: #222222;
  color: #FBFBFF; }

.contact-button:active {
  cursor: pointer;
  border: none;
  background-color: #616161;
  color: #FBFBFF; }

.games-wrapper {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  background-color: #EDEDED; }

.title-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.games-title {
  width: 100%;
  height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222222; }
  .games-title h1 {
    padding-top: 10px;
    vertical-align: baseline;
    color: #FBFBFF;
    font-family: 'Sugarpunch';
    font-size: 72px; }

.contacts-wrapper {
  width: 100%;
  min-height: 920px;
  height: max-content;
  display: flex;
  flex-direction: column; }

.contacts-title {
  width: 100%;
  height: 100px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222222; }
  .contacts-title h1 {
    padding-top: 10px;
    vertical-align: baseline;
    color: #FBFBFF;
    font-family: 'Sugarpunch';
    font-size: 72px; }

.contacts-content {
  width: 100%;
  min-height: fit-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-grow: 3; }

.contacts-description-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 45%;
  flex-grow: 3;
  min-height: inherit;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  height: max-content; }

.contact-description-header {
  min-height: 30%;
  height: fit-content;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%; }
  .contact-description-header h1 {
    padding-top: 40px;
    color: #222222;
    vertical-align: middle;
    text-align: center;
    font-family: 'Sugarpunch Shadow';
    font-size: 58px; }

.contact-description-body {
  width: 100%;
  padding-top: 25px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  min-height: 50%;
  height: max-content; }
  .contact-description-body span {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Josefin Sans';
    font-size: 24px;
    color: #222222; }

.contact-description-footer {
  align-self: stretch;
  min-height: 20%;
  height: max-content;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column; }
  .contact-description-footer hr {
    width: 80%;
    height: 3px;
    color: black; }
  .contact-description-footer h2 {
    align-self: center;
    vertical-align: middle;
    padding-top: 10px;
    font-family: 'Sugarpunch';
    font-size: 40px;
    color: #222222; }
  .contact-description-footer .social-links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100px; }

.contacts-form-container {
  background-color: #EDEDED;
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  width: 55%; }

.contacts-form-header {
  height: 20%;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%; }
  .contacts-form-header h1 {
    padding-top: 40px;
    color: #222222;
    vertical-align: middle;
    text-align: center;
    font-family: 'Sugarpunch';
    font-size: 62px; }

.contacts-form-body {
  height: 80%;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column; }
  .contacts-form-body label {
    font-size: 24px;
    font-family: 'Josefin Sans'; }
  .contacts-form-body input[type=text] {
    margin-bottom: 5px;
    font-family: 'Josefin Sans';
    height: 30px;
    border: 2px solid #616161; }
  .contacts-form-body input[type=email] {
    margin-bottom: 5px;
    font-family: 'Josefin Sans';
    height: 30px;
    border: 2px solid #616161; }
  .contacts-form-body input[type=submit] {
    border: none;
    background-color: #E26E21;
    color: #FBFBFF;
    margin-top: 30px;
    width: 150px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    font-family: 'Sugarpunch';
    font-size: 30px;
    margin-bottom: 10px; }
  .contacts-form-body input[type=submit]:hover {
    border: none;
    background-color: #222222;
    color: #FBFBFF; }
  .contacts-form-body input[type=submit]:active {
    margin-top: 32px;
    border: none;
    background-color: #616161;
    color: #FBFBFF; }

.contacts-success {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: auto;
  background-color: #d4edda;
  border: 2px solid #c3e6cb;
  border-radius: 5px;
  padding: 2px;
  padding-left: 7px; }
  .contacts-success span {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    color: #155724; }

.contacts-success:target {
  display: none; }

.contacts-form-textarea {
  height: 160px;
  resize: none;
  border: 2px solid #616161; }

@media (max-width: 4000px) {
  .about-wrapper {
    min-height: 0; }

  .about-content {
    min-height: 0; }
    .about-content span {
      font-size: 40px; }

  .about-logo {
    width: 800px;
    height: 400px; }

  .contact-description-body span {
    font-size: 30px; } }
@media (max-width: 2000px) {
  .about-wrapper {
    min-height: 0; }

  .about-content {
    min-height: 0; }
    .about-content span {
      font-size: 34px; }

  .about-logo {
    width: 600px;
    height: 300px; }

  .contact-description-body span {
    font-size: 28px; } }
/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .about-wrapper {
    min-height: 0; }

  .about-content {
    min-height: 0; }
    .about-content span {
      font-size: 24px; }

  .about-logo {
    width: 400px;
    height: 200px; }

  .contact-description-body span {
    font-size: 24px; } }
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .contacts-content {
    flex-direction: column; }

  .contacts-description-container {
    width: 100%; }

  .contacts-form-container {
    width: 100%; } }
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  .about-content {
    width: 90%; }
    .about-content h1 {
      font-size: 80px; } }
@media (max-width: 481px) {
  .about-logo {
    width: 330px;
    height: 165px; }

  .about-content {
    width: 90%; }
    .about-content h1 {
      font-size: 70px; } }
@media (max-width: 320px) {
  .about-logo {
    width: 280px;
    height: 140px; }

  .about-content {
    width: 90%; }
    .about-content h1 {
      font-size: 60px; } }

/*# sourceMappingURL=style.css.map */
