/**

Theme Name: Partagames Theme
Author: Ilia@Fusetwin
Version: 0.9-rc7.1

Theme Description: Theme for Partagames website. 

*/
//Resets
//@import './css/resets';
//Global CSS variables
@import './css/vars';
//Social Menu CSS
@import './css/socialmenu';
//Fonts CSS declaration
@import './css/fonts';
//Header CSS
@import './css/header';
//Game card and container CSS
@import './css/gamecard';
//Footer CSS
@import './css/footer';

$fonts-main: 'Josefin Sans', sans-serif; 
$header-font: 'Sugarpunch', fantasy; 
$header-font-alt: 'Sugarpunch Shadow', fantasy; 

*,
*::before,
*::after {
  box-sizing: border-box;
}

*,*:focus,*:hover{
    outline:none;
}

body {
    background-color: #EDEDED;
}

.debug{
    border: 1px solid red;
}

.page-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-shade;

}

.page-content{
    width: 100%;
    max-width: 1600px;
    align-self: center;
    -webkit-box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.75);
}

.about-wrapper{
    min-height: 920px;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;

}

.about-title-container{
    padding-top: 20px;
    height: fit-content;
    width: auto;
    display: flex;
    flex-direction: column;
}

.about-content{
    align-self: center;
    width: 60%;
    min-height: 920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        display: inline-block;
        font-family: 'Sugarpunch';
        font-size: 100px;
        color: $secondary-color;
    }
    span{
        display: inline-block;
        vertical-align: middle;
        font-family: 'Josefin Sans';
        font-size: 24px;
        color: $secondary-color;
    }
}

.about-text-container{
    flex-grow: 4;
    text-align: center;    
    display : flex;
    align-items : center;
    justify-content: center;
    margin-bottom: 25px;
}

.about-logo{
    width: 400px;
    height: 200px;
    background: url('./assets/images/parta_logo_800x374.png');
    background-size: cover;
    //src: url('assets/images/parta_logo_800x374.png');
}

.contact-button{
    margin-top: auto;
    margin-bottom: 25px;
    justify-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;
    height: 100px;
    background-color: $accent-color;
    a{
        text-decoration: none;
        user-select: none;
        margin-top: 5px;
        align-self: center;
        color: $primary-color;
        font-family: 'Sugarpunch';
        font-size: 52px;
        text-align: center;
    }
    a:hover{
        text-decoration: none
    }
}


.contact-button:hover{
    cursor: pointer;
    border: none;
    background-color: $secondary-color;
    color: $primary-color;
}
.contact-button:active{
    cursor: pointer;
    border: none;
    background-color: $secondary-shade;
    color: $primary-color;
}

.games-wrapper{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: $primary-shade;

}

.title-container{
    text-align: center;    
    display : flex;
    align-items : center;
    justify-content: center;
}

.games-title{
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    h1{
        padding-top: 10px;
        vertical-align: baseline;
        color: $primary-color;
        font-family: 'Sugarpunch';
        font-size: 72px;
    }
}

.contacts-wrapper{
    width: 100%;
    min-height: 920px;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.contacts-title{
    width: 100%;
    height: 100px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    h1{
        padding-top: 10px;
        vertical-align: baseline;
        color: $primary-color;
        font-family: 'Sugarpunch';
        font-size: 72px;
    }
}

.contacts-content{
    width: 100%;
    min-height: fit-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-grow: 3;
}

.contacts-description-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 45%;
    flex-grow: 3;
    min-height: inherit;
    min-height: -moz-available;  
    min-height: -webkit-fill-available;
    min-height: fill-available;
    height: max-content;
}

.contact-description-header{
    min-height: 30%;
    height: fit-content;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
        h1{
        padding-top: 40px;
        color: $secondary-color;
        vertical-align: middle;
        text-align: center;
        font-family: 'Sugarpunch Shadow';
        font-size: 58px;
    }
}


.contact-description-body{
    width: 100%;
    padding-top: 25px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    min-height: 50%;
    height: max-content;
    span{
        display: inline-block;
        vertical-align: middle;
        font-family: 'Josefin Sans';
        font-size: 24px;
        color: $secondary-color;
    }
}

.contact-description-footer{
    align-self: stretch;
    min-height: 20%;
    height: max-content;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    hr{
        width: 80%;
        height: 3px;
        color: black;
    }
    h2{
        align-self: center;
        vertical-align: middle;
        padding-top: 10px;
        font-family: 'Sugarpunch';
        font-size: 40px;
        color: $secondary-color;
    }
    .social-links-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-self: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100px;
    }
}

.contacts-form-container{
    background-color: $primary-shade;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    width: 55%;
    
}

.contacts-form-header{
    height: 20%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    h1{
        padding-top: 40px;
        color: $secondary-color;
        vertical-align: middle;
        text-align: center;
        font-family: 'Sugarpunch';
        font-size: 62px;
    }
}

.contacts-form-body{
    height: 80%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    label{
        font-size: 24px;
        font-family: 'Josefin Sans';
    }
    input[type=text]{
        margin-bottom: 5px;
        font-family: 'Josefin Sans';
        height: 30px;
        border: 2px solid $secondary-shade
    }
    input[type=email]{
        margin-bottom: 5px;
        font-family: 'Josefin Sans';
        height: 30px;
        border: 2px solid $secondary-shade
    }
    input[type=submit]{
        border: none;
        background-color: $accent-color;
        color: $primary-color;
        margin-top: 30px;
        width: 150px;
        height: 50px;
        vertical-align: middle;
        text-align: center;
        font-family: 'Sugarpunch';
        font-size: 30px;
        margin-bottom: 10px;
    }
    input[type=submit]:hover{
        border: none;
        background-color: $secondary-color;
        color: $primary-color;
    }
    input[type=submit]:active{
        margin-top: 32px;
        border: none;
        background-color: $secondary-shade;
        color: $primary-color;
    }
}

.contacts-success{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: auto;
    background-color: $success-color;
    border: 2px solid $success-shade;
    border-radius: 5px ;
    padding: 2px;
    padding-left: 7px;
    span{  
        margin-top: auto;
        margin-bottom: auto;
        font-size: 20px;
        font-family: $fonts-main;
        color: $success-text;
    }
}

.contacts-success:target{
    display:none
}

.contacts-form-textarea{
    height: 160px;
    resize: none;
    border: 2px solid $secondary-shade
}


//4k displays
@media (max-width: 4000px) {  
    .about-wrapper{
        min-height: 0;
    }
    .about-content {
        min-height: 0;
        span{
            font-size: 40px;
        }
    }
    .about-logo{
        width: 800px;
        height: 400px;
    }
    .contact-description-body{
        span{
            font-size: 30px;
        }
    }
}
//XXL-displays
@media (max-width: 2000px) {  
    .about-wrapper{
        min-height: 0;
    }
    .about-content {
        min-height: 0;
        span{
            font-size: 34px;
        }
    }
    .about-logo{
        width: 600px;
        height: 300px;
    }
    .contact-description-body{
        span{
            font-size: 28px;
        }
    }
}

    


    

    /* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {  
    .about-wrapper{
        min-height: 0;
    }
    .about-content {
        min-height: 0;
        span{
            font-size: 24px;
        }
    }
    .about-logo{
        width: 400px;
        height: 200px;
    }
    .contact-description-body{
        span{
            font-size: 24px;
        }
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    .contacts-content{
        flex-direction: column;
    }
    .contacts-description-container{
        width: 100%;
    }
    .contacts-form-container{
        width: 100%;
    }

}
        
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {  
       .about-content{
        width: 90%;
        h1{
            font-size: 80px;   
        }
    }
}


@media (max-width: 481px) {  
    .about-logo{
        width: 330px;
        height: 165px;
    }
    .about-content{
        width: 90%;
        h1{
            font-size: 70px;   
        }
    }

}


@media (max-width: 320px){
    .about-logo{
        width: 280px;
        height: 140px;
    }
    .about-content{
        width: 90%;
        h1{
            font-size: 60px;   
        }
    }
}
